*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  color: white;
}


body{
  font-family: 'Schoolbell', arial, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: black;
  background-size: cover;
}

center {
  padding: 0% 20% 0% 0%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
}

.flex-row-child {
  flex-basis: 100%;
  padding: 32px 0px 32px 32px;
}

.feeling {
  padding: 32px 0% 0% 0%;
  height: 25%;
}
.feeling-content {
  padding: 10% 0% 0% 0%;
  height: 65%;
  width: 100%;
  font-style: italic;
  background: black;
  background-size: contain;
  background-repeat: no-repeat;
}

.mainbox{
  position: relative;
  width: 500px;
  height: 500px;
}
.mainbox:after{
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  background: url('img/arrow-left.png') no-repeat;
  background-size: 32px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.box{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
  transition: all ease 2s;
}
span{
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
  /* 0.5 - tan (pi / 36) = 0.4125 */
  clip-path: polygon(100% 59%, 0 50%, 100% 41%);
  top: 120px;
  right: 0;
}

span div{
  font-size: 24px;
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -50%);
}

.innerbox{
  position: absolute;
  width: 100%;
  height: 100%;
}

.box1{
  transform: rotate(0deg);
}
.box2{
  transform: rotate(-10deg);
}
.box3{
  transform: rotate(-20deg);
}
.box4{
  transform: rotate(-30deg);
}
.box5{
  transform: rotate(-40deg);
}
.box6{
  transform: rotate(-50deg);
}
.box7{
  transform: rotate(-60deg);
}
.box8{
  transform: rotate(-70deg);
}
.box9{
  transform: rotate(-80deg);
}
.box10{
  transform: rotate(-90deg);
}
.box11{
  transform: rotate(-100deg);
}
.box12{
  transform: rotate(-110deg);
}
.box13{
  transform: rotate(-120deg);
}
.box14{
  transform: rotate(-130deg);
}
.box15{
  transform: rotate(-140deg);
}
.box16{
  transform: rotate(-150deg);
}
.box17{
  transform: rotate(-160deg);
}
.box18{
  transform: rotate(-170deg);
}
.box19{
  transform: rotate(-180deg);
}
.box20{
  transform: rotate(-190deg);
}
.box21{
  transform: rotate(-200deg);
}
.box22{
  transform: rotate(-210deg);
}
.box23{
  transform: rotate(-220deg);
}
.box24{
  transform: rotate(-230deg);
}
.box25{
  transform: rotate(-240deg);
}
.box26{
  transform: rotate(-250deg);
}
.box27{
  transform: rotate(-260deg);
}
.box28{
  transform: rotate(-270deg);
}
.box29{
  transform: rotate(-280deg);
}
.box30{
  transform: rotate(-290deg);
}
.box31{
  transform: rotate(-300deg);
}
.box32{
  transform: rotate(-310deg);
}
.box33{
  transform: rotate(-320deg);
}
.box34{
  transform: rotate(-330deg);
}
.box35{
  transform: rotate(-340deg);
}
.box36{
  transform: rotate(-350deg);
}

.spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: black;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-size: 22px;
  cursor: pointer;
}
.spin:active{
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.green1 {
  background-color: #9CF7C8;
}

.green2 {
  background-color: #00B866;
}

.yellow1 {
  background-color: #F1F6AC;
}

.yellow2 {
  background-color: #E5DB00;
}

.orange1 {
  background-color: #F1D4B0;
}

.orange2 {
  background-color: #F99A36;
}

.red1 {
  background-color: #F9BBAA;
}

.red2 {
  background-color: #F9663D;
}

.purple1 {
  background-color: #DAAFC3;
}

.purple2 {
  background-color: #EE698E;
}

.blue1 {
  background-color: #61B0C5;
}

.blue2 {
  background-color: #0A7EA9;
}