*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}


body{
  font-family: 'Schoolbell', arial, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: black;
  /* background: linear-gradient(90deg, rgba(60,60,242,1) 0%, rgba(98,245,230,1) 52%, rgba(60,60,242,1) 100%); */
  background-size: cover;
}

.mainbox{
  position: relative;
  width: 500px;
  height: 500px;
}
.mainbox:after{
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  background: url('arrow-left.png') no-repeat;
  background-size: 32px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.box{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
  transition: all ease 2s;
}
span{
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
}

/* 0.5 - tan (pi / 36) = 0.4125 */
.span1{
  clip-path: polygon(0 59%, 100% 50%, 0 41%);
  top: 120px;
  left: 0;
}
.span2{
  clip-path: polygon(100% 59%, 0 50%, 100% 41%);
  top: 120px;
  right: 0;
}
.span3{
  clip-path: polygon(50% 0%, 41% 100%, 59% 100%);
  bottom: 0;
  left: 120px;
}
.span4{
  clip-path: polygon(50% 100%, 59% 0, 41% 0);
  top: 0;
  left: 120px;
}

span .b{
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, -50%);
}
.span1 .b{
  transform: translate(-90%, -50%) rotate(180deg);
}
.span3 .b{
  transform: translate(-50%, 110%) rotate(90deg);
}
.span4 .b{
  transform: translate(-50%, -190%) rotate(-90deg);
}

.innerbox{
  position: absolute;
  width: 100%;
  height: 100%;
}

.box1{
  transform: rotate(0deg);
}
.box2{
  transform: rotate(-10deg);
}
.box3{
  transform: rotate(-20deg);
}
.box4{
  transform: rotate(-30deg);
}
.box5{
  transform: rotate(-40deg);
}
.box6{
  transform: rotate(-50deg);
}
.box7{
  transform: rotate(-60deg);
}
.box8{
  transform: rotate(-70deg);
}
.box9{
  transform: rotate(-80deg);
}

.spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: black;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  /* font-weight: bold; */
  font-size: 22px;
  cursor: pointer;
}
.spin:active{
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.mainbox.animate:after{
  animation: animateArrow 0.2s ease infinite;
}
@keyframes animateArrow{
  25%{
  right: -40px;
  }
}

.green1 {
  background-color: #9CF7C8;
}

.green2 {
  background-color: #00B866;
}

.yellow1 {
  background-color: #F1F6AC;
}

.yellow2 {
  background-color: #E5DB00;
}

.orange1 {
  background-color: #F1D4B0;
}

.orange2 {
  background-color: #F99A36;
}

.red1 {
  background-color: #F9BBAA;
}

.red2 {
  background-color: #F9663D;
}

.purple1 {
  background-color: #DAAFC3;
}

.purple2 {
  background-color: #EE698E;
}

.blue1 {
  background-color: #61B0C5;
}

.blue2 {
  background-color: #0A7EA9;
}